.container {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Phone layout */
.grid {
  margin-top: 12rem;
  width: 90%;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-bottom: 4rem;
}

.item {
  border-radius: 1rem;
  border: 1px solid green;
  max-height: 200px;
  position: relative;
  overflow: hidden;
}

.project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
