.grid__container {
  background-color: var(--background);
  min-height: 100%;
  /*  min-height: 100dvh; */
  width: 100%;
  /* border: 2px solid red; */
  /* follow rule of 2/3 for layout */
  display: grid;
  row-gap: 2rem;
  grid-template-columns: [sceen-start] 2rem [content-start] 1fr [content-end] 2rem [sceen-end];
  grid-template-rows: auto;
}

.grid__item {
  justify-self: center;
  height: 100%;
  justify-items: center;
  max-width: 800px;
  /*  border: 1px solid black; */
  grid-column: content-start / content-end;
}

.win-start {
  grid-area: win-start;
}

.win-end {
  grid-area: win-end;
}

.grid-span-content {
  grid-column: 2 / 5;
}

.grid__image {
  object-fit: cover;
  width: 100%;
  /* aspect-ratio: 1 / 1; */
}

.title {
  font-size: clamp(2rem, 2rem + 3vw, 5rem);
  line-height: 1.2;
  padding: 2rem;
}

.content {
  font-size: 1rem;
  line-height: 1.2;
  color: var(--foreground);
}

/* Medium screens - Tablets */
@media screen and (600px < width < 900px) {
  .grid-container {
    grid-template-columns: [sceen-start] 1rem [content-start] 1fr [content-end] 1rem [sceen-end];
    /*    border: 2px solid rgb(55, 255, 0); */
  }
  .grid-item {
    max-width: 600px;
  }
}

/* Small screens - Mobile */
@media screen and (width <= 600px) {
  .grid-container {
    column-gap: 0;
    width: 100%;
    /*  border: 2px solid blue; */
  }
  .grid-item {
    max-width: 360px;
  }
}
