@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme (default) */
:root {
  --foreground: #000000;
  --background: #f7f7f7;
  --theme-button-background: #181452;
}

/* Applied to tailwind */
.dark {
  --background: #171717;
  --foreground: #ededed;
  --theme-button-background: #b42fdc;
}
/* Dark theme */
/* @media (prefers-color-scheme: light) {
  :root {
    --background: #9bb696;
    --foreground: #ededed;
  }
} */

html {
  font-family: --font-noto;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
