@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
}

/* Light theme (default) */

:root {
  --background: rgb(250, 248, 242);
  --foreground: #121212;
  --yellow: #241c06;
  --turq: rgb(66, 218, 152);
  --fade: rgb(138, 138, 138);
  --hero-background: rgba(250, 248, 242, 0.4);
  --oredish: #f78c6c;
  --redish: #f97583;
  --bluish: rgb(15, 102, 160);
  --yellowish: #eebe0f;
}

.dark {
  --background: rgb(16, 16, 16);
  --foreground: rgb(251, 250, 244);
  --yellow: #eebe0f;
  --fade: rgb(8, 8, 8);
  --hero-background: rgba(0, 0, 0, 0.4);
  --grid-item-border: rgb(251, 250, 244);
}

html {
  font-family: --font-noto;
  color: var(--foreground);
  background: var(--background);
}

.stop-overflow {
  overflow: hidden;
}

/* page-transition on the body element */

.home-transition {
  overflow: hidden;
  opacity: 0;
  filter: blur(3px);
  transform: scale(1.2);
}

.about-transition {
  overflow: hidden;
  transform: translateX(-200px);
  opacity: 0;
  filter: blur(4px);
}

.projects-transition {
  opacity: 0;
  filter: blur(4px);
  overflow: hidden;
  transform: translateY(-400px);
}

body {
  opacity: 1;
  transition: all 0.8s ease-in-out;
}

@keyframes scaleRotate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
