/* Light till you get it right, 
start with light theme */

.theme-button {
  width: 6rem;
  height: 3.5rem;
  border: 2px solid rgb(255, 0, 0);
  background-color: var(--theme-button-background);
  color: rgb(255, 255, 255);
  border-radius: 2rem;
}

/* @media (prefers-color-scheme: dark) {
  .theme-button {
    background-color: var(--theme-button-background);
    color: #ededed;
    border: 2px solid rgb(255, 255, 255);
  }
} */
