/* Page enter and exit styles */
.page-enter {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.page-exit {
  opacity: 0.2;
  transform: translateX(200px);
  background-color: aqua;
  transition: all 1s ease-in-out;
}
