.footer-container {
  flex-grow: 1;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
}

.footer-icons {
  bottom: 0;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.footer-icon {
  cursor: pointer;
  align-items: flex-end;
  justify-items: flex-end;
  display: flex;
  gap: 0.5rem;
  color: var(--foreground);
}
