.image-container {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.grid-item {
  grid-column: content-start / content-end;
  justify-self: center;
  justify-items: center;
  height: 100%;
  max-width: 800px;
}

.image-slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}

.image {
  flex-shrink: 0;
  flex-grow: 0;
  display: block;
  object-fit: cover;
  width: 100%;
}

.image-buttons {
  display: flex;
  position: absolute;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  width: auto;
  padding: 2rem;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-button:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.image-button.left {
  left: 0;
}

.right {
  right: 0;
}

.image-button:hover .hover-animation:hover {
  animation: squish 0.2s ease-in-out;
}

@keyframes squish {
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.image-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  height: fit-content;
  z-index: 9000;
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}
.image-dot {
  background-color: rgba(0, 0, 0, 0.5);
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.image-dot:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.image-dot-current {
  background-color: rgba(0, 0, 6, 0.9);
}

/* Make buttons always visible on mobile */
@media screen and (max-width: 600px) {
  .image-dots {
    display: none;
  }

  .image-button {
    opacity: 0.7;
    padding: 1rem;
    width: 60px;
    z-index: 850;
    background-color: rgba(0, 0, 0, 0.2);
  }

  /* Scale down the chevron icons */
  .image-button svg,
  .image-animation {
    width: 40px; /* Down from 64px */
    height: 40px;
  }

  .image-button:active {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
